html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

nav {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
}

figure + p {
  font-size: 1.5rem;
  font-weight: bold;
}

b {
  font-weight: bold;
}

blockquote  p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote footer > cite {
  font-size: 0.8rem;
}

strong {
  font-weight: none;
}

ol {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

dl dt {
  font-weight: bold;
  font-size: 1.125rem;
}
